VITE_API_URL=http://localhost:5080/api/v1

# Si no usas el API Gateway, puedes apuntar directo a cada microservicio:
VITE_IDENTIDAD_API_URL=http://localhost:5012/api/v1
VITE_CLIENTES_API_URL=http://localhost:5167/api/v1
VITE_ATRACCIONES_API_URL=http://localhost:5265/api/v1
VITE_RESERVAS_API_URL=http://localhost:5231/api/v1
VITE_FACTURACION_API_URL=http://localhost:5023/api/v1
